<!DOCTYPE html>
<html ng-app="currenciesApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>currency-select example</title>
    <link href="vendor/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="vendor/css/bootstrap-select.min.css" rel="stylesheet">

    <script src="vendor/js/angular.min.js"></script>
    <script src="vendor/js/jquery.min.js"></script>
    <script src="vendor/js/bootstrap.min.js"></script>
    <script src="vendor/js/bootstrap-select.min.js"></script>

    <link href="../dist/tw-currency-select.css" rel="stylesheet">
    <script src="../dist/tw-currency-select.js"></script>
    <script>
        var countriesApp = angular.module('currenciesApp', ['tw-currency-select']);
        countriesApp.controller('CurrencyListController', function($scope) {

            $scope.currencyChangeCount = 0;
            $scope.currencyCodeChangeCount = 0;

            $scope.currencies = [
                {code: 'EUR', symbol: '€'},
                {code: 'USD', symbol: '$'},
                {code: 'GBP', symbol: '£'}
            ];

            $scope.selectedCurrency = {code: 'EUR', symbol: '€'};
            $scope.selectedCurrency2 = {code: 'EUR', symbol: '€'};

            $scope.currencyCodes =['EUR', 'USD', 'GBP'];

            $scope.codeMapper = function(code) {
                return {code: code};
            };

            $scope.codeExtractor = function(currency) {
                return currency.code;
            };

            $scope.changedHandler = function() {
                $scope.currencyChangeCount += 1;
            };

            $scope.changedCodeHandler = function() {
                $scope.currencyCodeChangeCount += 1;
            };
        });
    </script>
    <style>
        body {
            padding: 20px;
        }
        .theDropdown {
            width: 180px;
        }
    </style>
</head>
<body ng-controller="CurrencyListController">

    <h1>Currency Dropdown</h1>

    <section>
        <h3>No mapper/extractor</h3>
        <currency-select
                class="theDropdown form-group-sm"
                ng-model="selectedCurrency"
                currencies="currencies"
                ng-change="changedHandler()"></currency-select>

        <currency-select
                class="theDropdown m-b-lg"
                ng-model="selectedCurrency"
                currencies="currencies"
                ng-change="changedHandler()"></currency-select>

        <currency-select
                class="theDropdown form-group-lg"
                ng-model="selectedCurrency"
                currencies="currencies"
                ng-change="changedHandler()"></currency-select>
        <pre>changeCount={{currencyChangeCount}}</pre>
        <pre>{{selectedCurrency | json }}</pre>
    </section>

    <section>
        <h3>With mapper/extractor</h3>
        <currency-select
                class="theDropdown"
                ng-model="selectedCurrencyCode"
                currencies="currencyCodes"
                mapper="codeMapper"
                extractor="codeExtractor"
                ng-change="changedCodeHandler()"></currency-select>
        <pre>changeCount={{currencyCodeChangeCount}}</pre>
        <pre>{{selectedCurrencyCode}}</pre>
    </section>

    <section>
        <h3>As an input button</h3>
        <div class="input-group">
            <input type="number" step="any" required
                   name="amount"
                   class="form-control"
                   ng-model="amount"
                   placeholder="500"
                   autocomplete="off" />
            <div class="input-group-btn">
                <currency-select
                        ng-model="selectedCurrency2"
                        currencies="currencies">
                </currency-select>
            </div>
        </div>
        <pre>{{selectedCurrency2.symbol}}{{amount}}</pre>
    </section>
</body>
</html>