<select
        class="selectpicker currencies"
        data-live-search="{{vm.useSearch}}"
        data-live-search-placeholder="{{vm.calculatedSearchPlaceholder}}"
        data-none-results-text="{{vm.calculatedNoResultsText}}"
        data-none-selected-text="{{vm.calculatedNoneSelectedText}}"
        data-style="btn-input">
    <option data-hidden="true"></option>
    <option ng-repeat="currency in vm.mappedCurrencies track by currency.code"
            data-content=
                    "<div class='flag-currency-code'>
                        <div class='flag-wrapper'>
                            <div class='dropdown-flag flag24_{{vm.flagCode(currency.code)}}'></div>
                        </div>
                        <span class='currency-code'>{{currency.code}}</span>
                        <span class='currency-name {{vm.hideNameClasses}}'>{{currency.name}}</span>
                    </div>"
            value="{{currency.code}}">
        {{currency.code}}
    </option>
</select>
